<% if logged_in? %>
  <div class="row">
    <aside class="col s12 m4">
      <div class="card hoverable">
        <section class="user_info card-content">
        <%= render 'shared/user_avatar',user: current_user %>  
        </section>
        <section class="card-content stats">
        <%= render 'shared/status' %>
      </div>
        </section>

      <section class="article_form fixed-action-btn">
        <a class="waves-effect waves-light  btn red form-btn btn-floating" href="<%= new_article_path %>">
        <i class="fas fa-pen fa-5x pen"></i></a>
      </section>
      <%= render 'maps/new_map' %>
      
      <%= render 'shared/ranks' %>
    </aside>

    <div class="col s12 m8 feed">
      <%= render 'shared/feed' %>
      <%= will_paginate @feed_items %>
    </div>  
    </div>
    <% else %>
    <div class = "center jumbotron">
      <h2>  
        ここはホームページです！
      </h2>
      <%= link_to "登録！", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>


