<div id="message_<%= message.id %>" class="message">
  <% if message.user == current_user %>
    <div class="current_user">
      <span class="direct-messages"><%= message.content %></span>
    </div>
    <div class="right">
    <% if current_user?(message.user) %>
      <%= link_to "削除",message_path(message), method: :delete,
      data: { confirm: "削除しますか？" }, remote: true %>
    <% end %>
  </div>
  <div class="right gray message-time-c">
    <%= message.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
  </div>
  <% else %>
  <%= render 'shared/user_avatar_only',user: @user[0] %>
  <div class="not_current_user">
    <span class="direct-messages"><%= message.content %></span>
  </div>
  <div class="gray message-time">
    <%= message.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
  </div>
  <% end %>
</div>