<div class="col s12 m8 push-m2">
  <div class="card">
    <div class="card-content">
      <%= provide(:title,@title)%>
      <%= form_with(model:[current_user,@profile], local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object%>
      <%= f.label :age, '年齢' %>
      <%= f.text_field :age,class:'materialize-textarea' %>

      <%= f.label :address, '住所' %>
      <%= f.text_field :address, class: 'materialize-textarea' %>

      <%= f.label :favorite, '得意科目' %>
      <%= f.text_field :favorite, class: 'materialize-textarea' %>

      <%= f.label :content, '本文' %>
      <%= f.text_area :content, class: 'materialize-textarea' %>

    <div class="center">
      <%= f.submit "送信", class:'btn regi-btn profile-btn' %>
    </div>
  <% end %>
  </div>
</div>