<% provide(:title,"ログイン")%>

<div class="row">
  <div class="col s12 m8 push-m2">
    <div class="center"><h5>ログイン</h5></div>
    <div class="card">
      <div class="card-content">
        <%= form_with(url: login_path,scope: :session,local: true) do |f|%>

        <%= f.label :email,"メールアドレス" %>
        <%= f.email_field :email,class: 'form-controll' %>
        
        <%= f.label :password,"パスワード" %>
        <%= f.password_field :password,class: 'form-controll'  %>

        <%= f.label :remember_me,class: 'checkbox inline' do %>
        <%= f.check_box :remember_me %>
        <span>次回から自動でログイン</span>
        <% end %>
        <p class="center">
        <%= f.submit "ログイン" ,class: "btn login-btn" %>
        <% end %>        
        <div class="center">
          <%= link_to "ゲストログイン",'/guest_login',class: 'btn red guest-btn' %>
        </div>
        </div>
        <div class="card-content">
        
        <p class="center">
        
        <%= link_to "新規登録はこちら",signup_path,class: 'amazon-blue'%>
        </div>
      </div>
    </div>
  </div>
</div>