<li id="comment_<%= comment.id %>"　class="comment-<%= comment.id %>">
  <div class="margin-20">
    <% if @article.user.avatar? %>
    <%= link_to image_tag(@article.user.avatar.url, class: "circle"), user_path(@article.user) %>
    <% else %>
    <%=link_to image_tag('no-image.jpg', class: "circle"), user_path(current_user) %>
    <% end %>
    <span class="profile-link">
      <%= link_to @article.user.name,user_path(@article.user) %>
    </span>

    <div>
      <div class="divider"></div>
      <div class="comment">
        <%= comment.content %>
      </div>
      <div class="right comment-delete">
        <% if current_user?(comment.user)%>
        <%= link_to "削除", article_comment_path(@article,comment), method: :delete,data:{ confirm:"本当に削除しますか？" },remote: true %> 
        <% end %>
      </div>
    </div>
  </div>
</li>