<li id="article-<%= article.id %>">
  <div class="card hoverable">
    <div class="card-image">
      <% if article.thumbnail? %>
        <%= link_to image_tag(article.thumbnail.url),article_path(article) %>
      <% end %>
    </div>

          
      <div class="card-content article-title">
        <span class="card-title">
          <%= link_to article.title,article_path(article) %>
        </span>
      </div>
    
      <div class="card-content article-tags">
        <%= render 'articles/tag_list',tag_list:article.tag_list %>
      </div>
    <div class="card-content article-content">
      <h6 class="art-cont"><%= article.content %></h6>      
    </div>

    <div class="card-content more-read">
     <a href="<%= article_path(article)%>">続きを読む</a>
    </div>

    <div class="card-content margin-0-top">
      <%= render 'likes/like', article: article %>
      <% if article.comments.any? %>
        <span class="comment-count">
          <%= link_to "コメント：#{article.comments.count}件",article_path(article) %>
        </span>
      <% end %>    
      <div class="right article-avatar">
        <%= render 'shared/user_avatar',user: article.user %>
      </div>
    </div>
  </div>
</li>
