<li id="article-<%= article.id %>">
<div class="card white darken-1">
  <div class="card-content dark-text">
    <span class="card-title">
      <%= link_to article.title,article_path(article) %>
      <span class="timestamp right">
        <%= article.created_at.strftime('%Y/%m/%d') %>
      </span>
    </span>
      
      <% if article.user.avatar? %>
        <%= image_tag current_user.avatar.url, class: "circle"%>
      <% else %>
        <%= image_tag 'no-image.jpg', class: "circle"%>
      <% end %>
        <%= link_to article.user.name,article.user, class: "profile-link" %>
    <% if article.image.attached? %>
      <p><%= link_to image_tag(article.display_image),article_path(article), class: "" %></p>
    <% end %>
  </div>
    <div class="card-action">
      <a href="<%= article_path(article)%>">続きを読む</a>
      <% if article.comments.any? %>
        <span>
          <%= link_to "コメント：#{article.comments.count}件",article_path(article) %> 
        </span>
      <% end %>
      <span>
        いいね数:<%= article.likes.count %>
      </span>
      <% if current_user?(article.user) %>
        <%= link_to "削除", article, method: :delete,
        data:{ confirm: "本当に削除しますか？" },remote: true,class:"right" %>
      <% end %>
    </div>
    <ul class="collapsible z-depth-0 tag">
        <li>
          <div class="collapsible-header">タグ<i class="fas fa-caret-down"></i></div>
          <div class="collapsible-body">
          <%= render 'articles/tag_list',tag_list:article.tag_list %>
        </div>
        </li>
      </ul>
  </div>
</li>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var collap = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(collap, []);
  });
</script>


