<li id="article-<%= article.id %>">
<div class="card white darken-1 hoverable">
  <div class="card-image">
    <% if article.thumbnail? %>
      <%= link_to image_tag(article.thumbnail.url),article_path(article) %></p>
    <% end %>
  </div>
  
  <div class="card-content dark-text">
    <span class="card-title">
      <%= link_to article.title,article_path(article) %>
      <span class="timestamp right">
        <%= article.created_at.strftime('%Y/%m/%d') %>
      </span>
    </span>
      
      <% if article.user.avatar? %>
        <%= link_to image_tag(article.user.avatar.url, class: "circle"), user_path(article.user) %>
      <% else %>
        <%= link_to image_tag('no-image.jpg', class: "circle"), user_path(article.user)%>
      <% end %>
        <%= link_to article.user.name,user_path(article.user), class: "profile-link" %>
    </div>

    <div class="card-action">
      <a href="<%= article_path(article)%>">続きを読む</a>
      <% if article.comments.any? %>
        <span>
          <%= link_to "コメント：#{article.comments.count}件",article_path(article) %> 
        </span>
      <% end %>
      
      <div class="home-like">
       <%= render 'likes/like', article: article %>
      </div>
      </div>
      <% if current_user?(article.user) %>
        <%= link_to "削除", article, method: :delete,
        data:{ confirm: "本当に削除しますか？" },remote: true,class:"right" %>
      <% end %>
    </div>
    
    <ul class="collapsible z-depth-0 tag">
        <li class="margin-0">
          <div class="collapsible-header">タグ<i class="fas fa-caret-down"></i></div>
          <div class="collapsible-body">
          <%= render 'articles/tag_list',tag_list:article.tag_list %>
          </div>
        </li>
    </ul>
  </div>
</li>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var collap = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(collap, []);
  });
</script>


