<div id="article_page" class="col-mid-8">
  <h2>タイトル:<%= @article.title %></p></h2>
  <h3>本文：<%= @article.content %></h3>

  コメント</p>
  

  <%= render 'comments/comment_form' %>
  <%= render 'likes/like' %>
  <div id="comments">
  <%= render @comments %>
  </div>

</div>