<div id="article_page" class="col s12 m12">
  <div class="card">
    <div class="card-content">
      
      <%= render 'shared/user_avatar',user: @article.user %>

      <%= render 'likes/like' ,article: @article%>
      </div>
      <div>
      <%= render 'articles/tag_list',tag_list:@article.tag_list %>
      </div>

      <div class="card-content">
      <span class="card-title center">
      <h2><%= @article.title %></h2></span>
      <span class="right article-time">
        <%= @article.created_at.strftime('%Y/%m/%d') %>
      </span>
      <div class="divider"></div>
      <div class="article-body">
      <p><%= @article.content%>
      </div>
      <% unless @map.nil? %>
      <div id="map"></div>
      <% end %>
    </div>
  </div>
</div>

コメント
<div class="card">
  <div class="card-content">
    <%= render 'comments/comment_form' %>
    <div id="comments">
      <%= render @comments %>
    </div>
  </div>
</div>




<script>
  var myLatLng
  var marker

  if(gon.latitude !== null){
    latitude = gon.latitude
  }

  if(gon.longitude !== null){
    longitude = gon.longitude
  }

function initMap(){
   myLatLng = {lat: latitude, lng: longitude}
 
  let map = new google.maps.Map(document.getElementById('map'), {
  center: myLatLng,
  zoom: 8
    });
  
   marker = new google.maps.Marker();
   marker.setPosition(new google.maps.LatLng(latitude,longitude));
   marker.setMap(map);
  
}
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
