<div class="card hoverable side">
  <div class="card-content">
    <h6>
      <i class="fas fa-globe-asia header-icons" style="color:lightblue"></i>
      近所の募集を探す
    </h6> 
  </div>
  <div class="divider"></div>
    <div class="card-content" id="map_card">
      <%= form_with(url:maps_path,method: :get,id: "map_form",local: true) do |f|%>
      <div class="input-field">        
        <%= f.text_field :area, class: "materialize-textarea", id: "map_search" ,
        placeholder: "地名などを入力してください" %>
        <%= f.label :area, "検索する位置" %>
      </div>
      <%= f.submit "検索",class: "btn",id: "search_btn" %>
      <% end %>
    </div>
</div>
<%= javascript_pack_tag 'map/map_search' %>