<%= provide(:title,"位置検索 : #{@area}") %>
<div class="row">
  <% unless @articles.empty? %>
    <div class="col s12 m4 map-search">
      <%= render 'maps/new_map' %>
    </div>

    <div class="col s12 m8">
      検索位置：<%= @area %>
      <ul class="article">
        <%= render @articles %>
        <span class="center"><%= will_paginate @articles %></span>
      </ul>
    </div>
    <% else %>
    <div class="col s12 m8 push-m2">
      <%= @area %>に近い場所での募集はありません
      <%= render 'maps/new_map' %>
    </div>
    <% end %>
  </div>
</div>





