<%= provide(:title,@user.name)%>
<div class="row">
  <div class="col s12 m12 l4">
    <div class="card hoverable side">
      <div class="card-content">
        <div class="center">          
          <%= render 'shared/user_avatar_big',user: @user %>
          <div id="ave_point" class="padding-updown-10">
            <% unless @reviews.empty? %>
              <%= render 'shared/review_stars',rate: @ave_rate %>
              <%= @ave_rate %>
            <% end %>
          </div></p>                  
        </div>
        <div class="center">
        <h6><%= render 'shared/status' %></h6>
        </div>
        <div class="divider"></div>
        <div class="center">
          <div class="card-content pad-t-b-12">
            <%= render 'shared/user_info',user: @user %>
          </div>
        </div>
        <div class="divider"></div>
        <%= render 'shared/profile_parts' %>
      </div>
    </div>
  </div>


  <div class="col s12 m12 l8">
    <h5 class="center">投稿記事</h5>
    <% if @user.articles.any? %>
    <%= render 'shared/feed' %>
    <div class="center"><%= will_paginate @feed_items %></div> 
    <% else %>
    <h5 class="center">記事はまだありません</h5>
    <% end %>
  </div>
  <% if current_user?(@user) %>
    <section class="article_form fixed-action-btn">
      <a class="waves-effect waves-light  btn red form-btn btn-floating" href="<%= new_article_path %>">
      <i class="fas fa-pen fa-5x pen"></i></a>
    </section>
  <% end %>
</div>
