<%= provide(:title,"マイページ")%>
<h1><%= @user.name %>のページ</h1 >
<div class="row">
  <aside class="col s12 m4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <% if current_user?(@user) %>

      <%= link_to "アカウント情報の更新",edit_user_path(current_user) %></p>
      <%= render 'profile_page' %>

      <% end %>

    <%= render 'shared/status' %>
    <%= render 'profile_list'%></p>
   
   
    レビュー一覧
    <div id="reviews">
    <%= render @reviews %>
    </div>
    <div id="ave_point">
    <% unless @reviews.empty? %>
     平均：<%= num_point(@reviews) %>点
    <% end %>
    
    </div>
    <div id="review_error"></div>
    <%= render 'reviews/review_form' %>

    </section>
  </aside>

<div class="col s12 m8">
  <%= render 'room_form' %>
  <%= render 'follow_form' %>
  
  <% if @user.articles.any? %>
  <h3><%= @user.articles.count%>記事</h3>
  <%= render 'shared/feed' %>
  <%= will_paginate @feed_items %>
    <% end %>
  </div>
</div>


