<% provide(:title,@title) %>
<div class="row">
  <aside class="col s12 m4">
    <section class="user_info">
      <div class="card">
        <div class="card-content">
          <%= render 'shared/user_avatar',user: @user %>
          <%= render 'shared/status' %>
        </div>
      </div>
      <%= render 'shared/user_profile',user: @user %>  
    </section>
</aside>



  <div class="col s12 m8 follow">
    <% if @users.any? %>
      <h4 class="center"><%= @title %>リスト</h4>
      <ul>
      <%= render @users %>  
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>