<div class="row">
  <div class="col s12 m10 push-m1">
    <div class="card">
      <div class="card-content article-card">
        <%= form_with(model:@article,local: true,class:"margin-30") do |f|%>
        <%= render 'shared/error_messages',object: f.object %>
        <div id="article_form" class="field">
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title,class: "materialize-textarea" %>
          <%= f.label :tag_list,"タグ ※カンマ区切りで記入してください" %>
          <%= f.text_field :tag_list, value: @article.tag_list.join(','), class: "materialize-textarea" %>

          <div class="place">
          教える場所
          <a id="del" class="btn marker-delete" onclick="deleteMarker();">マーカー削除</a>
          </div>
          
          <div id='map' class="margin-30"></div>          
          <%= f.fields_for :map, @article.build_map do |map| %>   
          <%= map.hidden_field :latitude %>
          <%= map.hidden_field :longitude %>
          <% end %>
          <%= f.label :content, "本文" %>
          <%= f.rich_text_area :content,placeholder:"入力してください",class: "materialize-textarea" %>
          <%= f.label :thumbnail, "サムネイル" %>
          <%= f.file_field :thumbnail, accept: "image/jpeg,image/gif,image/png",class:"file_field" %>
        </div>
      <div id="article_button"><%= f.submit "投稿！",class:"btn col s6 m6 article-form-btn push-s3 push-m3"%></div>
      <% end %>
      </div> 
    </div>
  </div>
</div>




<%= javascript_pack_tag 'map/map_form' %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>