<%= form_with(model:@article,local: true) do |f| %>
<%= render 'shared/error_messages',object: f.object %>

<div class="field">
  <%= f.text_area :title %>
  <%= f.text_area :content,placeholder:"入力してください" %>
</div>
<%= f.submit "投稿！",class:"btn btn-primary"%>
<% end %>
