<div class="row">
  <div class="col s12 m10 push-m1">
    <div class="card">
      <div class="card-content article-card">        
        <%= form_with(model:@article,local: true,class:"margin-30") do |f|%>
        <%= render 'shared/error_messages',object: f.object %>        
          <div id="article_form" class="field">
            <div class="input-field">              
              <%= f.text_field :title,class: "materialize-textarea" %>
              <%= f.label :title, "タイトル" %>
            </div>
            <div class="input-field">              
              <%= f.text_field :tag_list, value: @article.tag_list.join(','), class: "materialize-textarea" %>
              <%= f.label :tag_list,"タグ ※コンマ区切りで記入してください" %>
            </div>
            <div class="input-field">
              <input type="text" id="address" placeholder="地名、施設名などを入力するか、地図をクリックしてマーカーを立ててください">
              <label>教える場所</label>
              <a class="btn" onclick="codeAddress()">地図検索</a>
              <a id="del" class="btn marker-delete right" onclick="deleteMarker()">
              <i class="fas fa-map-marker-alt fas-2x" style="color:red"></i>削除
              </a>
            </div>
            <div id='map' class="margin-t-b-14"></div>          
            <%= f.fields_for :map, @article.build_map do |map| %>   
            <%= map.hidden_field :latitude %>
            <%= map.hidden_field :longitude %>
            <% end %>            
              <%= f.rich_text_area :content,placeholder:"入力してください",class: "materialize-textarea" %>
              <%= f.label :content, "本文" %>
            <%= f.label :thumbnail, "サムネイル" %>
            <%= f.file_field :thumbnail, accept: "image/jpeg,image/gif,image/png",class:"file_field" %>
            <div id="article_button"><%= f.submit "投稿！",class:"btn col s6 m6 article-form-btn push-s3 push-m3"%></div>
          </div>
        <% end %> 
      </div>
    </div>
  </div>
</div>





<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap" async defer></script>
<script>
var marker
var myLatLng
var map_lat
var map_lng
var geocoder
var map_result
let map

function initMap (){
  myLatLng = {lat: 35.68090045006303, lng: 139.76690798417752}
  map_lat = document.getElementById('article_map_latitude')
  map_lng = document.getElementById('article_map_longitude')
  marker = new google.maps.Marker();

  map = new google.maps.Map(document.getElementById('map'), {
  center: myLatLng,
  zoom: 12
  });

google.maps.event.addListener(map, 'click', mylistener);

     //クリックしたときの処理
function mylistener(event){
    marker.setPosition(new google.maps.LatLng(event.latLng.lat(), event.latLng.lng()));
    marker.setMap(map);    
    console.log(event.latLng.lat(), event.latLng.lng());
    map_lat.value = event.latLng.lat();
    map_lng.value = event.latLng.lng();
  }
}

  function deleteMarker(){
    marker.setMap(null);
    map_lat.value = "";
    map_lng.value = "";
}

function codeAddress(){
  geocoder = new google.maps.Geocoder()
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 
    'address': inputAddress,
     'region': 'jp'
    }, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      map_result = results[0].geometry.location;
      map_lat.value = map_result.lat();
      map_lng.value = map_result.lng();
      marker.setPosition(new google.maps.LatLng(map_result.lat(), map_result.lng()));
      marker.setMap(map);
      console.log(map_lat.value,map_lng.value);
    } else {
      alert('該当する結果がありませんでした');
      initMap();
    }
  });   
}
</script>