<li id="review_<%= review.id %>" class="margin-20">
  <div>
    <%= render 'shared/user_avatar',user: review.reviewer %>
  </div>
  <div id="stars"><%= render 'shared/review_stars',rate: review.rate %></div>
  <div class="reviews"><%= review.content %></div>
  <% if logged_in? %>
    <% if review.reviewer_id == current_user.id || current_user.admin? %>
      <div class="right comment-delete">
        <%= link_to "削除",user_review_path(review.reviewed,review),method: :delete ,
        remote: true, data: { confirm: "本当に削除しますか？" } %>
      </div>
    <% end %>
  <% end %>
<div class="divider"></div>
</li>