var reviews = document.getElementById('reviews');
var ave_point = document.getElementById('ave_point');
var review_content = document.getElementById('review_content');
var review_rate = document.getElementById('review_rate');
var stars = document.getElementById('stars');

fetch("/api/v1/users/<%= @user.id %>/reviews",{
  mode: 'cors',
  method: 'GET',
  headers: {
    Authorization: "Token <%= current_user.token %>",
    "Content-Type": "application/json"
  }
}).then(response => response.json())
.then(data => {
  var new_review = data[data.length-1]
  var hidden = <%= current_user.id %> != data[data.length-1].user.id  ? "hidden":""
  img = () => {
    var image
    if (new_review.user.avatar != null) {
    image = `
    <a href="/users/${new_review.user.id}">
      <img class="circle small" src=${new_review.user.avatar}
    </a>`
    } else {
      image = `<%= image_tag("no-image",class:"circle small") %>`
    }
    return image
  }

  coach_check = () => {
    if(new_review.user.coach == true){
    var coach_name = `
      <span class="inline">
        <a href="/users/${new_review.user.id}">
          ${new_review.user.name}
        </a>
        <div>
          <i class="far fa-check-circle" style="color:lightgreen"></i>
          <span style="color:lightgreen">コーチ</span>
        </div>
      </span>      
      `
      return coach_name
    }else {
     var not_coach_name = `
      <span class="not-coach">
        <a href="/users/${new_review.user.id}">
          ${new_review.user.name}
        </a>    
      </span>      
      `
      return not_coach_name
    }
  }
  
  function rate_stars() {    
    var star = `<i class="fas fa-star review-stars" style="color:gold"></i>`
    for (var i = 1; i < data[data.length-1].rate; i++) {
      star = star + `<i class="fas fa-star review-stars" style="color:gold"></i>`
    }
    return star
  }

reviews.insertAdjacentHTML('beforeend',`
<li id="review_${new_review.id}" class="review_${new_review.id} margin-20">
  <div>
    <span>
      ${img()}
    </span>
    ${coach_check()}
  </div>

  <div id="stars">
    ${rate_stars()}
  </div>
  <div>
    ${new_review.content}
  </div>
  <div class="right comment-delete">
    <a data-confirm="本当に削除しますか？" data-remote="true" rel="nofollow" data-method="delete" 
      href="/users/${new_review.user.id}/reviews/${new_review.id}"
      ${hidden}>削除
    </a>
  </div>
  <div class="divider"></div>
</li>
`);

}).catch(e=> {
  console.log(e);
})

fetch("/users/<%= @user.id %>/reviews/ave_point_cal",{
  mode: 'cors',
  method: 'GET',
  headers: {
    Authorization: "Token <%= current_user.token %>",
    "Content-Type": "application/json"
  }
}).then(response => response.json())
.then(data => {
  var ave_points_int = Math.floor(data.ave_points);
  var star = `<i class="fas fa-star review-stars" style="color:gold"></i>`
  function ave_point_star() {
    for (var i = 1; i < ave_points_int; i++){
      star = star + `<i class="fas fa-star review-stars" style="color:gold"></i>`
    }

    if (data.ave_points - ave_points_int >= 0.5) {
      star = star + `<i class="fas fa-star-half review-stars" style="color:gold"></i>`
    } 

    return star
  }
  ave_point.innerHTML=(`
  ${ave_point_star()} 
  ${data.ave_points}`)
})
.catch(e =>{
  console.log(e)
})

review_content.value='';
review_rate.value='';
review_error.textContent='';
  