var reviews = document.getElementById('reviews');
var ave_point = document.getElementById('ave_point');
var review_content = document.getElementById('review_content');
var review_rate = document.getElementById('review_rate');
var stars = document.getElementById('stars');



fetch("/api/v1/users/<%= @user.id %>/reviews",{
  mode: 'cors',
  method: 'GET',
  headers: {
    Authorization: "Token <%= current_user.token %>",
    "Content-Type": "application/json"
  }
}).then(response => response.json())
.then(data => {
  var new_review = data[data.length-1]
  var hidden = <%= current_user.id %> != data[data.length-1].user.id  ? "hidden":""
  var img = (data[data.length-1].user.avatar != null) ? data[data.length-1].user.avatar:"/assets/no-image.jpg"    
  function rate_stars() {    
    var star = `<i class="fas fa-star" style="color:gold"></i>`
    for (var i = 1; i < data[data.length-1].rate; i++) {
      star = star + `<i class="fas fa-star" style="color:gold"></i>`
    }
    return star
  }

reviews.insertAdjacentHTML('beforeend',`
<li id="review_${new_review.id}" class="review_${new_review.id} margin-20">    
  <div>
    <a href="/users/${new_review.user.id}">
      <img class="circle small" src=${img}>
    </a>
    <span class="profile-link">
    <a href="/users/${new_review.user.id}">
      ${new_review.user.name}
    </a>  
  </div>

  <div id="stars">
    ${rate_stars()}
  </div>
  <div>
    ${new_review.content}
  </div>
  <a data-remote="true" rel="nofollow" data-method="delete" 
    href="/users/${new_review.user.id}/reviews/${new_review.id}"
    ${hidden}>削除
  </a>
  </p>
  <div class="divider"></div>
</li>
`);

}).catch(e=> {
  console.log(e);
})

fetch("/users/<%= @user.id %>/reviews/ave_point_cal",{
  mode: 'cors',
  method: 'GET',
  headers: {
    Authorization: "Token <%= current_user.token %>",
    "Content-Type": "application/json"
  }
}).then(response => response.json())
.then(data => {
  var ave_points_int = Math.floor(data.ave_points);
  var star = `<i class="fas fa-star" style="color:gold"></i>`
  function ave_point_star() {
    for (var i = 1; i < ave_points_int; i++){
      star = star + `<i class="fas fa-star" style="color:gold"></i>`
    }

    if (data.ave_points - ave_points_int >= 0.5) {
      star = star + `<i class="fas fa-star-half" style="color:gold"></i>`
    } 

    return star
  }
  ave_point.innerHTML=(`
  <i class="far fa-star fa-lg"></i>
  ${data.ave_points}
  ${ave_point_star()} `)
})
.catch(e =>{
  console.log(e)
})

review_content.value='';
review_rate.value='';
review_error.textContent='';
  