<div class="row">
  <div class="col s12 m4">
    <div class="card">
      <div class="card-content">
        <%= render 'shared/user_avatar',user: @user %>
        <%= render 'shared/status' %>
        <div class="follow-btn follow-form">
          <%= render 'users/follow_form' %>
        </div>
        <% unless current_user == @user %>
        <div class="room-form">       
          <i class="far fa-envelope fa-lg"></i>
          <%= render 'users/room_form' %>   
        </div>
        <% end %>  
        <div id="ave_point">
          <% unless @reviews.empty? %>
            <i class="far fa-star fa-lg"></i>
            <%= @ave_rate %>
            <%= render 'shared/review_stars',rate: @ave_rate %>
          <% end %>
        </div></p>
      </div>
    </div>
    <%= render 'shared/user_profile',user: @user %>
  </div>


  <div class="col s12 m8">
    <div class="card">
      <div class="card-content">
        <% if @reviews.empty? %>
          レビューはありません
          <ul id="reviews"></ul>
        <% else %>
          <ul id="reviews">
            <%= render @reviews %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <% if logged_in? %>
        <div id="review_error"></div>
        <%= render 'reviews/review_form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>