
  <header>
    <!-- 追記 -->
    <div class="conatiner">
    <nav>
      <div class="nav-wrapper">
        <%= link_to "タイトル", root_path, id: "logo",class: "brand-logo" %>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "ホーム",   root_path %></li>
        <li><%= link_to "ヘルプ",   help_path %></li>
        <% if logged_in? %>
        <li> <%= link_to "タグ",tags_articles_path %> </li>
        <li><%= link_to "通知", notifications_path %></li>
        <li><%= link_to "ユーザ一覧", users_path %></li>
        <li><%= link_to "いいねした記事", user_likes_path(current_user) %></li>
        <li><%= link_to "プロフィール", user_path(current_user) %></li>
        <li><%= link_to "セッティング", edit_user_path(current_user) %></li>
        <li><%= link_to "近い記事検索",new_map_path %></li>
        <li>        
        <%= link_to "ログアウト",logout_path,method: :delete %>
        </li>
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>   
       </ul>
      </div>
    </nav>
  </header>  
  <ul class="sidenav" id="mobile-demo">
    <li><%= link_to "ホーム",   root_path %></li>
        <li><%= link_to "ヘルプ",   help_path %></li>
        <% if logged_in? %>
        <li> <%= link_to "タグ",tags_articles_path %> </li>
        <li><%= link_to "通知", notifications_path %></li>
        <li><%= link_to "ユーザ一覧", users_path %></li>
        <li><%= link_to "いいねした記事", user_likes_path(current_user) %></li>
        <li><%= link_to "プロフィール", user_path(current_user) %></li>
        <li><%= link_to "セッティング", edit_user_path(current_user) %></li>
        <li><%= link_to "近い記事検索",new_map_path %></li>
        <li>        
        <%= link_to "ログアウト",logout_path,method: :delete %>
        </li>
        <% else %>
        <li><%= link_to "Log in", login_path %></li>
        <% end %>
  </ul>

<div class="container">
  <%= yield %>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems,[]);
  });
</script>
